@model User

<h1> User detail </h1>
<div>
    <h3> @Model.Name </h3>
    <p> @Model.Email </p>
    <h4> @Model.Member </h4>
    <h4> Welcome to QuantumWiki </h4>
    <h4> Browse tutorials as user </h4>
    <h4> QuantumWiki Homepage </h4>
</div>