@model User
<h1>This will be the login page</h1>
<h5>Sign up - Create.cshtml </h5>
<h5>Log in - undefined </h5>

<div>
    <form method="post">
        Email/Username: <input asp-for="Email" placeholder="Your EMail Address" title="Email Address" />
        Password: <input asp-for="Password" placeholder="Your Password" title="Password" />
        <button type="submit"> Login </button>
    </form>
</div>
<div>
    <a asp-controller="User" asp-action="Create" class="btn btn-group-sm btn-info"> Create </a> your account and become a member.
</div>
<div>
    <a asp-controller="User" asp-action="Index" class="btn btn-group-sm btn-info"> List </a> of all users.
</div>
<div>
    <a asp-controller="User" asp-action="Search" class="btn btn-group-sm btn-outline-info"> Find </a> a user by name.
</div>
<div>
    <a asp-controller="Tutorial" asp-action="Browse"> Browse </a> tutorials as a guest.
</div>

