@model string

<h2>Search by keyword</h2>
<hr />

<table>
    <tr>
        <th> Name: </th>
        <td> <input type="text" placeholder="keyword" /> </td>
    </tr>
    <tr>
        <td><input type="submit" value="keyword" /> Search </td>
    </tr>
</table>

